
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="#">
                    <div class="brand-logo">
                        <i class="fas fa-home"></i>
                    </div>
                    <h6 class="brand-text mb-0" style="font-size: 18px;">داشبورد مدير</h6>
                </a>
            </li>
            <li class="nav-item nav-toggle">
                <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
                    <i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul style="font-size: 14px;" class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
            <li class="navigation-header">
                <span style="font-size: 15px;">امکانات سيستم</span>
            </li>

            <li class="is-shown">
                <a asp-action="Index" asp-controller="UserManager" asp-area="AdminArea" class="nav-link">
                    <i class="menu-livicon" data-icon="users"></i>
                    <span>ليست کاربران سيستم</span>
                </a>
            </li>

            <li class="nav-item has-sub">
                <a href="#">
                    <i class="menu-livicon livicon-evo-holder" data-icon="morph-doc">
                    </i><span class="menu-title">اطلاعات پايه</span>
                </a>
                <ul class="navigation navigation-main" data-menu="menu-navigation" data-icon-style="lines">
                    <li class="is-shown">
                        <a asp-action="Index" asp-controller="CountryManagement" asp-area="AdminArea" style="font-size: 12px;">
                            <i class="menu-livicon" data-icon="location"></i>
                            <span>ليست کشورها</span>
                        </a>
                    </li>
                    <li class="is-shown">
	                    <a asp-action="Index" asp-controller="ProvinceManagement" asp-area="AdminArea" style="font-size: 12px;">
		                    <i class="menu-livicon" data-icon="building"></i>
		                    <span>ليست استان ها</span>
	                    </a>
                    </li>
					<li class="is-shown">
						<a asp-action="Index" asp-controller="CityManagement" asp-area="AdminArea" style="font-size: 12px;">
							<i class="menu-livicon" data-icon="building"></i>
							<span>ليست شهرها</span>
						</a>
					</li>

                </ul>
            </li>

        </ul>
    </div>
</div>