@using PayRollProject
@using PayRollProject.Models
@using Syncfusion.EJ2
@using Syncfusion.EJ2.DropDowns
@using Syncfusion.EJ2.Schedule
@model ErrorViewModel
@{
    ViewData["Title"] = "صفحه خطا";
}

<h1 class="text-danger">خطا.</h1>
<h2 class="text-danger">یک خطا در حین پردازش درخواست شما رخ داده است.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>حالت توسعه</h3>
<p>
    تغییر به محیط <strong>توسعه</strong> اطلاعات دقیق‌تری درباره خطای رخ داده نمایش خواهد داد.
</p>

<p>

    <strong>محیط توسعه نباید برای برنامه‌های مستقر فعال باشد.</strong>
    فعال بودن آن ممکن است منجر به نمایش اطلاعات حساس مربوط به خطاها برای کاربران شود.
    برای اشکال‌زدایی محلی، محیط <strong>توسعه</strong> را با تنظیم متغیر محیطی <strong>ASPNETCORE_ENVIRONMENT</strong> به <strong>Development</strong> فعال کنید
    و برنامه را مجدداً راه‌اندازی نمایید.
</p>